
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<section id="Testimonial">
    <div class="testimonial-wrap">
        <div class="container">
            <div class="block-heading">
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />

                <h2>@ViewBag.msg</h2>
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <a href="~/student" class="btn btn-primary stretched-link">Back to home</a>

            </div>

        </div>
    </div>
</section>
