
@model IEnumerable<Examination_system.Models.Exam>
@{
    ViewBag.Title = "Courses";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
</br>
</br>
</br>
</br>


    @if (@Model.Count() == 0)
    {
        <h1>There Is No Exams In Current Time.</h1>
    }
<section id="Services">
    <div class="container">
        <div class="services-wrapper">
            @foreach (var exam in Model)
            {
            <div class="each-service">
                <div class="service-icon"><i class="fa fa-shopping-bag" aria-hidden="true">0/@exam.Exam_Grade</i></div>


                <h5 class="service-title">
                    @exam.Exam_Name
                </h5>
                <p class="service-description">@exam.Exam_Desc</p>
                @Html.ActionLink("Start Exam", "Create", "Exams", new { id =exam.Exam_id }, new { @class = "btn btn-primary" })


            </div>
            }


        </div>
    </div>
</section>

