@{
    ViewBag.Title = "About";
}
@{
    ViewBag.Title = "About";

}
<section id="About">
    <div class="container">
        <br /><br />
        <div class="about-wrapper">
            <h2>About Us</h2>
            <p>
                Exam is the basic element of the application and at elaboration of examination system, the main objective was the maximum supervision of as large as possible number of parameters. Exam is dynamically defined, i.e. user can define its frames as complexity, duration, number of questions from individual question pool etc.
                The power of the system is additionally manifested in the fact that the choice of questions presented to the attendee may always be different, because according to the set keys, questions are pulled out of the question base randomly or sequentially. It is, of course, possible not to take the opportunity of pulling out questions at random when it is necessary (like IQ tests).
            </p>
        </div>
    </div>
</section>
<section id="Testimonial">
    <div class="testimonial-wrap">
        <div class="container">
            <div class="block-heading">
                <h2>What Clients Say About Us</h2>
            </div>
            <ul class="testimonial-slider">
                <li>" I would like to thank Click and the team for the fantastic work<br> on content writing for my site. "</li>
                <li>" I'd say that the team is excellent and it is some of the best service<br> I have received both online and offline in a long time. "</li>
                <li>" It's been great working with you. The content is also great. I can certainly recommend your<br> services to others as cost effective services. "</li>
            </ul>
        </div>
    </div>
</section>