@{
    ViewBag.Title = "Services";

}
<section id="Services">
    <div class="container">
        <div class="block-heading">
            <h2>Services</h2>
            <p>Exam.com is your Gate to the science</p>
        </div>
        <div class="services-wrapper">
            <div class="each-service">
                <div class="service-icon"><i class="fa fa-desktop" aria-hidden="true"></i></div>
                <h5 class="service-title">Crowd-Learning</h5>
                <p class="service-description">Learning has never been this social and accessible for so many! Bit-sized lessons and fun practice sessions grab your attention and keep you focused, for guaranteed best results!</p>
            </div>
            <div class="each-service">
                <div class="service-icon"><i class="fa fa-line-chart" aria-hidden="true"></i></div>
                <h5 class="service-title">Unbound Learning</h5>
                <p class="service-description">
                    Don’t limit yourself! Now there are no limits – no more set locations, time, or pace! You decide where, when, and how quickly you’ll learn, and you can do it anytime, anywhere, on any device.
                </p>
            </div>
            <div class="each-service">
                <div class="service-icon"><i class="fa fa-paper-plane" aria-hidden="true"></i></div>
                <h5 class="service-title">
                    Easy to use
                </h5>
                <p class="service-description">Take the full benefit of our easy to use test maker and create tests within minutes.</p>
            </div>
            <div class="each-service">
                <div class="service-icon"><i class="fa fa-university" aria-hidden="true"></i></div>
                <h5 class="service-title">
                    Make exams
                </h5>
                <p class="service-description">
                    Use our exam builder to create engaging online exams and challenge your students.
                </p>
            </div>
            <div class="each-service">
                <div class="service-icon"><i class="fa fa-camera-retro" aria-hidden="true"></i></div>
                <h5 class="service-title">
                    Question bank
                </h5>
                <p class="service-description">Create a question bank with lots of questions. Use your question bank to efficiently create exams. </p>
            </div>
            <div class="each-service">
                <div class="service-icon"><i class="fa fa-shopping-bag" aria-hidden="true"></i></div>
                <h5 class="service-title">
                    Set the rules
                </h5>
                <p class="service-description">You set the rules of your exam. Set the pass and fail rules. Set the amount of attemtps for each user</p>
            </div>
        </div>
    </div>
</section>
